@font-face {
     font-family: 'DM Sans';
     src: url(../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
     font-weight: 200;
     font-style: normal;
}
@font-face {
     font-family: 'DM Sans';
     src: url(../assets/fonts/static/DMSans-Regular.ttf) format('ttf');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: 'DM Sans';
     src: url(../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('ttf');
     font-weight:500;
     font-style: normal;
}

@font-face {
     font-family: 'DM Sans';
     src: url(../assets/fonts/static/DMSans-Medium.ttf) format('ttf');
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: 'DM Sans';
     src: url(../assets/fonts/static/DMSans-MediumItalic.ttf) format('ttf');
     font-weight: 600;
     font-style: normal;
}


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     text-decoration: none;
     list-style: none;
     font-family: 'DM Sans';
}