* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     font-family: 'DM Sans';
}
:root {
     --Purple-100: hsl(254, 88%, 90%);
     --Purple-500: hsl(256, 67%, 59%);
     --Yellow-100:hsl(31, 66%, 93%);
     --Yellow-500: hsl(39, 100%, 71%);
     --White: hsl(0, 0%, 100%);
     --Black: hsl(0, 0%, 7%);
}
  .attribution {
       font-size: 11px;
       text-align: center;
  }

  .attribution a {
       color: hsl(228, 45%, 44%);
  }

@media (max-width:425px){
.main{
     width: 100%;
     min-width: 375px;
     height: auto;
     padding: 30px  40px;
     /* background-color: var(--White); */
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: aqua;
     
}
.one{
     width: 100%;
     min-width: 345px;
     height: auto;
     background-color: var(--Purple-500);
     padding: 30px 16px 30px 20px;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-bottom: 10px;
}
.one h3{
     color: var(--White);
     max-width: 240px;
     /* width: 100%; */
     font-size:42px;
     text-align: center;
     font-weight:600;
     line-height: 42px;
     padding-bottom: 15px;
}
.one span{
     color: var(--Yellow-500);
}
.one p{
     color: var(--White);
     padding-top: 10px;
     font-weight: 400;
}
.one img {
     width: 120px;
}
.two {
     width: 100%;
     min-width: 345px;
     height: auto;
     background-color: var(--White);
     padding: 10px 20px;
     margin-bottom: 10px;
     border-radius: 15px;
     box-shadow: 0 0 5px grey;
}
.two img{
     width: 100%;
}
.two h3{
     font-weight: 700;
     color: var(--Black);
     padding-bottom: 15px;
}
.three {
     width: 100%;
     min-width: 345px;
     min-height: 250px;
     background-color: var(--Yellow-500);
     padding: 20px 20px 10px 20px;
     border-radius: 14px;
     position: relative;
     margin-bottom: 10px;
}
.three h3{
     min-width: 200px;
     font-size: 1.2rem;
}
.three img {
     width: 200px;
     padding-top: 10px;
     padding-bottom: 0;

     bottom: 0;
     position: absolute;
}
.four {
     width: 100%;
     min-width: 345px;
     height: auto;
     background-color: var(--Purple-100);
     padding: 30px 16px 30px 20px;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 10px;
     gap: 20px;
}
.four h3 {
     font-size: 1.4rem;
     font-weight: 600;
}
.four img{
     width: 100%;
}
.four p{
     text-align: center;
     font-weight: 600;
}
.five {
     width: 100%;
     min-width: 345px;
     height: auto;
     background-color: var(--Purple-500);
     padding: 30px 16px 30px 20px;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 10px;
     gap: 20px;
}
.five h3 {
     width: 200px;
     font-size: 1.4rem;
     font-weight: 600;
     text-align: center;
     color: var(--White);
}
.five img {
     width: 60%;
}
.six {
     width: 100%;
     min-width: 345px;
     height: auto;
     background-color: var(--White);
     padding: 10px 20px 20px 10px;
     margin-bottom: 25px;
     border-radius: 15px;
     box-shadow: 0 0 5px grey;
     display: flex;
     flex-direction: column;
     align-items: start;
     /* justify-content: space-evenly; */
     margin-bottom: 10px;
     gap: 16px;
}

.six img {
     width:50%;
     height: 60px;
}

.six h3 {
     font-weight: 600;
     color: var(--Black);
     font-size: 3rem;
     padding-bottom: 0;
}
.six p{
     font-weight: 500;
     font-size: 1rem;
}
.seven {
     width: 100%;
     min-width: 345px;
     height: auto;
     background-color: var(--Yellow-100);
     padding: 10px 20px 10px;
     margin-bottom: 25px;
     border-radius: 15px;
     box-shadow: 0 0 5px grey;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: space-between;
     margin-bottom: 10px;
     gap: 16px;
}

.quicker{
     font-weight: 500;
     color: var(--Purple-500);
}
.seven img {
     width: 50%;
     padding-bottom: 30px;
}

.seven h3 {
     font-weight: 800;
     line-height: 24px;
     color: var(--Black);
     font-size: 1.5rem;
}
.eight {
     width: 100%;
     min-width: 345px;
     height: auto;
     background-color: var(--Yellow-500);
     padding: 30px 16px 30px 20px;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 10px;
     gap: 20px;
}

.eight h3 {
     font-weight: 700;
     color: var(--Black);
     font-size: 2rem;
     line-height: 32px;
     padding-bottom: 0;
}

.eight img {
     width: 100%;
}
}